.searchForm {
  margin: 2rem auto 0px auto;
  text-align: center;
}

.searchForm input {
  outline: none;
  border: none;
  padding: 7px 12px;
  border-radius: 2px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.btn-prev {
  margin-right: 10px;
}

.pokemonListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2rem 17vw;
}

.pokemonContainer {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.425);
  box-shadow: 0px 5px 11px 5px rgba(0, 0, 0, 0.521);
  transition: all 200ms ease-in;
  cursor: pointer;
}

.pokemonContainer:hover {
  transform: translateY(-5px);
}

.pokeImg {
  max-width: 70%;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0 0 0;
}

.pokemonName {
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: #333;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .pokemonListContainer {
    margin: 2rem 5vw;
  }
}

@media screen and (max-width: 800px) {
  .pokemonListContainer {
    margin: 2rem 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .pokemonListContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
